body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.wave {
    width: 300px;
    border: thin solid rgb(18, 83, 213);
    float: right;
}
.wave.jpg {
    width: 100%;
}
.first {
    width: 150px
}
