body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;
    background-color: cadetblue;
}
header{
    color: rgb(7, 141, 7);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(197, 143, 73);
}
h2 {
    color: rgb(165, 42, 42);
    font-family: 'Courier New', Courier, monospace;
}
.emp {
    color: rgb(165, 42, 42)

    

}
.demp {
    color: rgb(92, 50, 131);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#syl {
    color: rgb(37, 66, 119);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.sim {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: maroon;
}
.hiy {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(47, 37, 113);
}