body {
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    background-color: blueviolet;
    color: antiquewhite;
    margin: 3px;
}

.parent {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
}

.flexsample {
    display: flex;
    justify-content: space-around;
    background-color: aqua;
    margin: 5px;
    grid-template-columns: 2fr 2fr 2fr;
}

