body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(BluePic.jpg)
    
}
.decorative {
    min-height: 80px;
    background-image: url(SunTree.png);
    background-repeat: no-repeat;
    background-position: center;
}
.mylist {
    list-style: none;
    list-style-image: url(Thinkmeme.png);
}
.flower {
    width: 400px;
    height: 150;
}