body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;

}

nav a {
    display: block;
    padding: 5px;
    background-color: aquamarine;
    color: blueviolet;
    text-decoration: double;
}

#parent {
    display: flex;
    gap: 5px;
    flex-direction: column;
    flex-wrap: wrap;
}

.card {
    background-color: rgb(42, 165, 116);
    margin: 3px;
    border: thin solid #000;
    border-radius: 5px;
    width: 150px;
}

.highlight {
    order: -1;
}